header {
  height: 5.625rem;
  width: 100%;
  background: #080708;
  padding: 25px 87px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 9;
}

.white {
  background: #080708;
  // animation: show 0.9s;
}

.linkBlack {
  display: none;
  max-width: 12.3rem;
  height: 2.5rem;
}

.link {
  display: block;
  max-width: 196.596px;
  height: 40px;
}

.divider {
  display: block;
  position: absolute;
  width: 1px;
  height: 5.625rem;
  opacity: 0.5;
  background: #ccc;
  right: 218px;
  top: -16px;
}

.active-enter {
  opacity: 0;
}
.active-enter-active {
  opacity: 1;
  transition: all 1000ms;
}
.active-enter-done {
  opacity: 1;
  transition: all 1000ms;
}
.active-exit {
  opacity: 1;
}
.active-exit-active {
  opacity: 0;
  transition: all 1000ms;
}

@media (max-width: 1280px) {
  header {
    padding: 25px 90px 25px 55px;
    align-items: center;
    .link {
      max-width: 150px;
      height: unset;
    }
    .hamburger {
      width: 36px;
    }
  }
}
@media (max-width: 1024px) {
  header {
    height: 3.625rem;
    padding: 0 60px 0 40px;
    .link {
      max-width: 125px;
    }
    .divider {
      height: 3.625rem;
      right: 150px;
    }
    .hamburger {
      width: 29px;
    }
  }
}
@media (max-width: 768px) {
  header {
    padding: 1.19rem 1.88rem 1.19rem 1rem;
    height: 4.375rem;
    .divider {
      right: 85px;
      height: 4.375rem;
    }
    .link {
      width: 8.9375rem;
      height: 1.81844rem;
    }
  }
}
