.navigation {
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(8, 7, 8, 0.2);
  position: fixed;
  z-index: 1;

  &__aside {
    width: 40.5625rem;
    height: 100%;
    background: #f5f5f5;
    margin: 0 0 0 auto;
    padding: 10.625rem 4.44rem 20.12rem 10rem;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  &__item {
    color: #080708;
    font-size: 3rem;
    line-height: normal;
  }
  &__arrow {
    margin-left: 1.5rem;
    width: 2.5rem;
    height: 2.5rem;
    img {
      width: 100%;
      height: 100%;
    }
  }
  [data-arrow="arrow"] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 15.5rem;
  }

  .services {
    display: none;
    padding: 0rem 2.5rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.25rem;
    &__item {
      color: #080708;
      font-family: Faktum Test;
      font-size: 1.5rem;
      line-height: 140%;
      opacity: 0.8;
      cursor: pointer;
    }
  }
  .flex {
    display: flex;
    animation: navActive 0.5s;
  }
}
.active {
  display: block;
}

.itemActive {
  color: #52a500;
}

@keyframes navActive {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 1600px) {
  .navigation {
    &__aside {
      padding: 10.625rem 0 20.12rem 0;
      width: 30.5625rem;
    }
    &__item {
      margin: 0 auto;
    }
  }
}

@media (max-width: 768px) {
  .navigation {
    z-index: 2;
    &__aside {
      width: 100%;
    }
  }
}
