@import url("https://fonts.cdnfonts.com/css/faktum-test");
@import url("https://fonts.cdnfonts.com/css/mukta");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Faktum Test", "Mukta", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}
