.loader {
  height: 100%;
  width: 100%;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
  &__hello {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 36px;
    z-index: 6;
    color: #3b5d50;
    opacity: 0;
  }
  &__item {
    flex: 1 1 auto;
    z-index: 7;
    background: #3b5d50;
    border-right: 1px solid #323232;
    margin-top: 100%;
  }
  &:nth-child(2) {
    border-right: none;
  }
}

.tailor {
  // height: 67.5rem;
  // height: 100vh;
  width: 100%;
  background: url("../public/mainBackground.png") center center/cover no-repeat;
  padding: 45.438rem 0 3.3rem 5.438rem;
  position: relative;
  // top: -5.625rem;

  &__subtitle {
    display: inline-block;
    color: #fff;
    font-size: 1.25rem;
    // margin: 55.06rem 0 0 6.81rem;
    margin-left: 1.375rem;
    position: relative;
    &:before {
      position: absolute;
      content: "";
      height: 0.625rem;
      width: 0.625rem;
      top: 50%;
      transform: translateY(-50%);
      left: -1.25rem;
      background: #fff;
    }
  }
  &__title {
    margin-top: 1.875rem;
    color: #fff;
    font-size: 5rem;
    line-height: 100%;
  }
  &__down {
    cursor: pointer;
    width: 1.375rem;
    height: 1.25rem;
    margin: 2.938rem auto 0 auto;
    display: block;
    img {
      height: auto;
      min-height: 100%;
      width: 100%;
    }
  }
}

.whoWeAre {
  padding: 6.875rem 5.438rem;
  // position: relative;
  &__title {
    color: #080708;
    font-size: 56px;
  }
  [data-hr="header"] {
    margin-top: 2.25rem;
    // height: 1px;
    background: #d3d3d3;
  }
  [data-hr="bottom"] {
    width: 1299px;
    background: #d3d3d3;
    margin: 2.25rem 9.25rem 0 27.937rem;
  }
  &__text {
    display: inline-block;
    margin: 4.5rem 9.25rem 0 27.937rem;
    color: #080708;
    font-family: Mukta;
    font-size: 32px;
    font-weight: 300;
  }
  &__btn {
    margin: 2.25rem 0 0 27.937rem;
    display: inline-flex;
    padding-left: 16px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border: 1px solid #5e5e5e;
    color: #5e5e5e;
    font-family: Faktum Test;
    font-size: 20px;
    position: relative;
    &:hover {
      scale: 1.1;
      border: none;
      &:before {
        content: none;
      }
    }
    &:before {
      content: "";
      height: 3.75rem;
      width: 0.063rem;
      position: absolute;
      background: #000;
      right: 58px;
    }
  }
}

.whatWeDo {
  padding: 0 0 0 5.438rem;
  position: relative;
  &__title {
    color: #080708;
    font-size: 56px;
    span {
      display: inline-block;
    }
  }
}

.truly {
  padding: 6.88rem 5.44rem 0 5.44rem;
  &__title {
    color: #080708;
    font-size: 3.5rem;
  }
  hr {
    margin-top: 2.25rem;
  }
  [data-hr="small"] {
    margin: 3.38rem 0 0 35.875rem;
    width: 62.875rem;
  }
  &__text {
    width: 62.875rem;
    margin: 4.5rem 9.25rem 0 35.875rem;
    color: #080708;
    font-family: Mukta;
    font-size: 2rem;
    font-weight: 300;
    line-height: 150%;
  }
  &__btn {
    margin: 1.5rem 0 0 35.875rem;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    color: #080708;
    font-size: 1.5rem;
    font-weight: 600;
    &__right {
      width: 2rem;
      height: 2rem;
    }
  }
  &__image {
    margin: 4.5rem 0 0 35.875rem;
    width: 63.625rem;
  }
  &__hr,
  &__values375 {
    display: none;
  }
}
