.line {
  width: 64px;
  height: 4px;
  margin-top: 24px;
  background-color: #9ce861;
  &.small {
    width: 32px;
    margin-top: 0;
  }
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about {
  // padding: 324px 0 0 87px;
  height: 100vh;
  position: relative;
  min-height: 600px;
  background: url("../../public/first_background.png") center center/cover
    no-repeat;
  &__frame {
    position: absolute;
    top: 66%;
    left: 7%;
  }
  &__home {
    color: #fff;
    font-family: Faktum Test;
    font-size: 18px;
    span {
      color: var(--Grey-2-lines, #ccc);
      font-family: Faktum Test;
      font-size: 18px;
      line-height: 100%;
    }
  }
  &__title {
    color: #fff;
    font-family: Faktum Test;
    font-size: 80px;
    margin-top: 48px;
    line-height: 1;
  }
}

.whoWeAre {
  padding: 170px 238px 170px 87px;
  display: flex;
  justify-content: space-between;
  &__left {
    min-width: 11.25rem;
    height: 29px;
  }
  &__title {
    color: #080708;
    font-family: Faktum Test;
    font-size: 24px;
    width: 132px;
  }
  &__right {
    width: 1150px;
    min-height: 436px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__top {
    color: #000;
    font-family: Faktum Test;
    font-size: 48px;
    line-height: 114%;
  }
  &__bottom {
    color: var(--080708, #080708);
    font-family: Mukta;
    font-size: 32px;

    line-height: 140%;
    letter-spacing: -0.32px;
  }
}

.approach,
.inAddition {
  min-height: 780px;
  display: grid;
  grid-template-columns: minmax(797px, auto) minmax(1106px, auto);
  &__left {
    max-width: 797px;
  }
  // img {
  //   height: 100%;
  // }
  &__right {
    padding: 195px 235px 195px 178px;
    background: #080708;
    &_top {
      width: 249px;
    }
  }
  &__title {
    color: #fff;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
  }
  &__descr {
    margin-top: 48px;
    color: #8a9093;
    font-family: Mukta;
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%;
  }
}

.someText {
  margin: 140px auto;
  width: 1154px;
  color: #000;
  text-align: center;
  font-family: Faktum Test;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.inAddition {
  min-height: 787px;
  &__left {
    display: block;
  }
  &__right {
    background: #ebebeb;
    padding: 130px 235px 130px 178px;
    display: block;
    &_top {
      width: 168px;
    }
  }
  &__title {
    color: #080708;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
  }
  &__descr {
    color: #000;
    font-family: Mukta;
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%;
    span {
      color: #000;
      font-family: Mukta;
      font-size: 32px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%;
    }
  }
}

.values {
  padding: 110px 87px 100px 87px;
  &__title {
    color: #080708;
    text-align: center;
    font-size: 64px;
    font-weight: 400;
  }
  &__wrapper {
    margin-top: 56px;
    display: grid;
    grid-template-rows: repeat(2, minmax(523px, auto));
    justify-content: center;
  }
  &__item {
    padding: 48px 58px 48px 48px;
    display: grid;
    grid-template-rows: minmax(43px, auto) minmax(124px, auto) minmax(
        208px,
        auto
      );
    border-left: 1px solid #d3d3d3;
    &:nth-child(1) {
      border-left: none;
    }
    &_title {
      color: #000;
      font-size: 36px;
      font-weight: 400;
    }
  }
  &__top,
  &__bottom {
    display: grid;
    grid-template-columns: repeat(3, 582px);
  }
  &__descr {
    color: #080708;
    font-family: Mukta;
    font-size: 22px;
    font-weight: 300;
    line-height: 140%;
    margin-top: 20px;
  }
  &__image {
    margin-top: 32px;
  }
  &__top {
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
  }
  &__bottom {
    border-bottom: 1px solid #d3d3d3;
  }
}

.beforeFooter {
  min-height: 876px;
  &__background {
    background: url("../../public/second_backgroung.png") lightgray 50% / cover
      no-repeat;
    padding: 153px 383px;
    color: #f5f5f5;
    text-align: center;
    font-size: 48px;
    font-weight: 400;
    line-height: 120%;
  }
  &__bottom {
    padding: 100px 302px 99px 235px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__left {
    width: 710px;
    color: #080708;
    font-size: 36px;
    font-weight: 400;
    line-height: 110%;
  }
  &__right {
    color: #080708;
    text-align: center;
    font-size: 36px;
    font-weight: 400;
    line-height: 140%;
    position: relative;

    &:before {
      content: "";
      width: 1px;
      height: 280px;
      background: #d3d3d3;
      position: absolute;
      top: -100px;
      left: -150%;
    }
    &:after {
      content: "";
      width: 0;
      height: 2px;
      background: #9ce861;
      position: absolute;
      top: 50px;
      left: 0%;
      transition: 0.5s;
    }

    &:hover {
      color: #9ce861;
      &:after {
        width: 195px;
      }
    }
    &:active {
      font-size: 40px;
      color: #42751bbe;
      transition: 0.5s;
      &:after {
        top: 0;
        width: 220px;
        transform: rotate(180deg);
        background: #42751bbe;
      }
    }
  }
}
