@media (max-width: 1600px) {
  .contactUs {
    &__subtitle {
      font-size: 1.75rem;
      margin-bottom: 3.5rem;
    }
    &__item {
      margin-top: 1.5rem;
      &:after {
        bottom: -30%;
      }
    }
    &__lines {
      hr {
        width: 100%;
      }
    }
  }
  .formLine {
    margin-top: 0;
    top: 10%;
  }
  .contactForm {
    margin-top: 4.88rem;
  }
}

@media (max-width: 1280px) {
  .contactUs {
    &__wrapper {
      flex-direction: column;
    }
    &__descr {
      width: 100%;
      align-self: unset;
    }
  }
}

@media (max-width: 1024px) {
  .contactUs {
    top: 3.563rem;
    &__title {
      margin-top: 3.94rem;
    }
  }
  .contactForm {
    margin-top: 7.88rem;
  }
}

@media (max-width: 768px) {
  .contactUs {
    padding: 5rem 1rem 3.75rem 1rem;
    top: 1.563rem;
    &__home {
      display: none;
    }
    &__title {
      font-size: 3rem;
      margin-top: 0;
      width: unset;
    }
    &__subtitle {
      font-size: 1.5rem;
    }
    &__item {
      [data-last="last"] {
        display: none;
      }
      &_sub {
        font-size: 1.25rem;
        min-width: 5.625rem;
      }
      &_subShot {
        display: block;
        min-width: 5.625rem;
      }
      span {
        font-size: 1.25rem;
        width: unset;
      }
    }
  }
  .formLine {
    top: 14%;
  }
  .contactForm {
    margin-top: 5.62rem;
    &__hr {
      display: none;
    }
    .formContact {
      margin-top: 1.25rem;
      &__div {
        font-size: 1rem;
      }
    }
  }
}
