.line {
  width: 64px;
  height: 4px;
  background-color: #9ce861;
  position: absolute;
  z-index: 1;
}
footer {
  position: relative;
}
.contactUs {
  width: 100%;
  padding: 2.5rem 5.44rem 9.31rem 5.44rem;
  position: relative;
  top: 5.563rem;
  background: #323b40;
  &__home {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    span {
      color: var(--Grey-2-lines, #ccc);
      font-family: Faktum Test;
      font-size: 18px;
      line-height: 100%;
    }
  }
  &__title {
    width: 53.625rem;
    color: #fff;
    font-family: Faktum Test;
    font-size: 80px;
    margin-top: 6.94rem;
    line-height: 1;
  }
  &__lines {
    position: relative;
    margin-top: 2.2rem;
    width: 100%;
  }
  hr {
    width: 100%;
    background: #808689;
    z-index: 0;
    position: absolute;
    bottom: -3px;
    border: 1px solid #808689;
  }
  &__wrapper {
    margin-top: 6rem;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
  }
  &__image {
    img {
      width: 100%;
      height: 100%;
    }
  }
  &__descr {
    width: 44.375rem;
    min-width: 20rem;
    align-self: center;
  }
  &__subtitle {
    width: 100%;
    color: #f5f5f5;
    font-size: 2rem;
    line-height: 114%;
    margin-bottom: 5.44rem;
  }
  &__item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #f5f5f5;
    font-size: 1.5rem;
    line-height: 140%;
    letter-spacing: 0.03rem;
    margin-top: 2.38rem;
    position: relative;
    &:nth-last-child(1) {
      margin-top: 4.38rem;
      &::after {
        content: "";
        display: none;
      }
    }
    &::after {
      content: "";
      width: 100%;
      height: 0.0625rem;
      background: #808689;
      position: absolute;
      bottom: -50%;
    }
    &_sub {
      min-width: 9.625rem;
    }
    &_subShot {
      display: none;
      min-width: 9.625rem;
      font-size: 1.25rem;
    }
    span {
      width: 26rem;
      color: #ccc;
    }
  }
  &__form {
    margin: -1rem;
  }
}

.formLine {
  position: absolute;
  top: 14%;
  width: 100%;
  hr {
    width: 100%;
  }
}

.contactForm {
  margin: 7.88rem 0 0 0;
  &__text {
    display: none;
  }
  &__title {
    color: #fff;
  }
  .formContact {
    &__input {
      label {
        color: #f5f5f5;
      }
      input {
        color: #f5f5f5;
        background-color: inherit;
        border: 1px solid #808689;
      }
    }
    &__div {
      color: #ccc;
    }
  }
}
