@media (min-width: 1280px) {
  .expertise {
    gap: 2rem;
    &__image {
      margin-top: 7%;
    }
    &__left {
      gap: 1rem;
    }
  }
  .structuringApproach {
    height: unset;
    &__item {
      &_title {
        font-size: 1.5rem;
      }
    }
  }
}

@media (max-width: 1600px) {
  .whatWeDo {
    &__top {
      gap: 1rem;
    }
    &__rightside {
      font-size: 36px;
      margin: 0px auto;
      max-width: 44rem;
    }
  }
  .strategic {
    grid-template-columns: minmax(100px, auto) minmax(300px, auto);
    min-height: unset;
    &__left {
      img {
        object-fit: unset;
      }
    }
    &__right {
      padding: 4% 5%;
    }
    &__descr {
      font-size: 1.875rem;
    }
  }
}

@media (max-width: 1280px) {
  .expertise {
    flex-direction: column;
    padding: 4.375rem 2.375rem;
    &__right {
      width: 100%;
      gap: 1.5rem;
      margin-top: 1.5rem;
    }
    &__top {
      font-size: 40px;
    }
    &__bottom {
      margin-top: 0;
    }
  }

  .whatWeDo {
    &__top {
      flex-direction: column;
    }
    &__leftside {
      justify-content: unset;
    }
    &__rightside {
      margin: 0;
    }
    &__item {
      font-size: 1.875rem;
      padding: 4.563rem 0 4.563rem 1.5rem;
    }
    &__bottom {
      max-width: unset;
      left: 11%;
      font-size: 1.625rem;
    }
  }
  .strategic {
    &__right {
      padding: 10% 8% 8% 4%;
      &_top {
        gap: 1rem;
        justify-content: unset;
        width: unset;
      }
    }
    &__title {
      font-size: 1.375rem;
    }
    &__descr {
      font-size: 1.5rem;
      margin-top: 1.875rem;
    }
  }
  .related {
    &__wrapper {
      row-gap: 3rem;
    }
    &__item {
      grid-template-columns: minmax(9rem, 9rem) minmax(24rem, 53.625rem) minmax(
          3rem,
          4.25rem
        );
    }
    &__right {
      &_title {
        font-size: 1.813rem;
      }
    }
  }
}

@media (max-width: 1024px) {
  .corporateStructuring {
    &__frame {
      width: unset;
    }
    &__title {
      font-size: 46px;
    }
  }
  .expertise {
    padding: 8.125rem 8.125rem 8.125rem 5.438rem;
    &__top {
      font-size: 34px;
    }
    &__bottom {
      font-size: 26px;
    }
  }
  .structuringApproach {
    &__title {
      font-size: 3.125rem;
      text-align: center;
      width: unset;
    }
    &__wrapper {
      flex-direction: column;
    }
    &__item {
      padding-top: 2.25rem;
      padding-bottom: 2.25rem;
      &:nth-child(2) {
        border-right: unset;
        border-left: unset;
        border-top: 1px #323b40 solid;
        border-bottom: 1px #323b40 solid;
      }
      &_text {
        margin: 0 4rem;
      }
    }
  }
  .whatWeDo {
    min-height: 1088px;
    height: unset;
    padding: 7.563rem 5.438rem 14rem 5.438rem;
    &__top {
      gap: 2rem;
    }
    &__rightside {
      font-size: 1.75rem;
      width: unset;
    }
    &__wrapper {
      grid-template-columns: none;
      grid-template-rows: repeat(6, 7.5rem);
    }
    &__item {
      padding: 38px;
    }
    &__bottom {
      bottom: 5%;
      height: unset;
    }
  }
  .strategic {
    display: block;
    &__title {
      font-size: 2rem;
    }
    &__descr {
      font-size: 1.8rem;
    }
  }
  .related {
    &__wrapper {
      grid-template-rows: repeat(5, minmax(6.5rem, auto));
    }
    &__item {
      grid-template-rows: minmax(1.875rem, auto) minmax(6.8rem, auto);
      grid-template-columns: minmax(17.6rem, auto) minmax(2.5rem, 3rem);
      row-gap: 1rem;
    }
    &__right {
      grid-column: 1/2;
    }
  }
  .beforeFooter {
    padding: 2.5rem 5.438rem;
    align-items: flex-end;
    &__left {
      span {
        display: block;
      }
    }
  }
}

@media (max-width: 768px) {
  .corporateStructuring {
    padding: 14.7rem 0 3rem 1rem;
    min-height: 28.8rem;
    &__home {
      font-size: 1rem;
    }
    &__title {
      margin-top: 1.5rem;
      width: unset;
      line-height: 120%;
    }
  }
  .expertise {
    padding: 3.5rem 1rem;
    &__left {
      width: unset;
      gap: 1rem;
      justify-content: unset;
    }
    &__title {
      font-size: 1.25rem;
    }
    &__top {
      font-size: 1.5rem;
    }
    &__bottom {
      font-size: 1.25rem;
    }
    &__image {
      height: 12.5rem;
      img {
        height: 100%;
      }
    }
  }
  .structuringApproach {
    padding: 3rem 1rem;
    &__title {
      font-size: 2rem;
    }
    &__mobTitle {
      display: block;
      color: #9ce860;
      border-top: 1px #323b40 solid;
      text-align: center;
      font-family: Mukta;
      font-size: 1.25rem;
      font-weight: 300;
      line-height: 140%;
      padding-top: 2rem;
      margin-top: 2.25rem;
    }
    &__wrapper {
      margin-top: 2.5rem;
      border-bottom: none;
    }
    &__item {
      padding: 2.25rem 0.7rem;
      &_title {
        font-size: 1.5rem;
      }
      &_text {
        font-size: 1.25rem;
        margin: 0;
      }
    }
  }
  .whatWeDo {
    padding: 3.5rem 1rem 3.5rem 1rem;
    &__rightside {
      font-size: 1.5rem;
    }
    &__wrapper {
      margin-top: 2.25rem;
      grid-template-rows: repeat(6, 7.5rem);
    }
    &__item {
      font-size: 1.5rem;
      padding: 1.37rem 0 1.37rem 1.5rem;
    }
    &__bottom {
      font-size: 1.125rem;
      margin-top: 3.25rem;
      position: relative;
      margin-left: 1.625rem;
      left: unset;
      right: unset;
      bottom: unset;
      &:before {
        left: -1.625rem;
        top: 0.313rem;
        // bottom: unset;
      }
    }
  }
  .strategic {
    &__title {
      font-size: 1.25rem;
    }
    &__left {
      width: 100%;
    }
    &__right {
      padding: 3.5rem 1rem;
    }
    &__descr {
      margin-top: 2.25rem;
      font-size: 1.25rem;
    }
  }
  .related {
    padding: 3rem 1rem 3.5rem 1rem;
    &__title {
      font-size: 2rem;
    }
    &__right {
      &_title {
        font-size: 1.25rem;
      }
      &_image {
        width: 100%;
      }
    }
    &__item {
      grid-template-columns: minmax(17.6rem, auto) 2.5rem;
      &:nth-last-child(-n + 1) {
        &:after {
          bottom: -1.5rem;
        }
      }
    }
    &__btn {
      font-size: 1.25rem;
    }
  }
  .beforeFooter {
    padding: 2.25rem 1rem;
    align-items: center;
    &__left {
      font-size: 1.5rem;
      span {
        font-size: 1.5rem;
        line-height: 120%;
        margin-top: 1rem;
      }
    }
    &__right {
      width: 2.5rem;
      height: 2.5rem;
      margin-top: 2rem;
      img {
        width: 100%;
      }
    }
  }
}
